<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link rel="stylesheet" href="/style.css">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class = "login">
    <h1>user login</h1>
    <!-- display error and succes messages to user -->
     <ul>
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% }) %> <% } %>
      </ul>
  
      <ul>
        <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
      </ul>
  
      <ul>
        <% if (messages.error) { %>
        <li><%= messages.error %></li>
        <% } %>
      </ul>

      <a href="/users/register"  class="btn btn-primary btn-block btn-large">not registered? sign up here</a>
      <a href="/admin/adminlogin" class="btn btn-primary btn-block btn-large">Admin? login here</a>
      <!-- user login -->
    <form action="/users/login" method="post">
   
    <div>
        <input type="email" id="useremail" name="useremail" placeholder="Email" required>
    </div>
  

    <div>
        <input type="password" id="userpassword" name="userpassword" placeholder="Password" required>
    </div>
    
    <div>
        <input type="submit" value="login"  class="btn btn-primary btn-block btn-large">
    </div>
   
</form>
</div>
</body>
</html>